{{ with .Params.event }}
<div class=" relative rounded-xl overflow-hidden shadow-lg border border-transparent hover:border-3 hover:border-primary transition-all p-4 flex flex-col justify-between bg-white">

    <!-- 🏷️ Tags in top right -->
    {{ with .tags }}
        <div class="absolute top-4 right-4 flex flex-wrap gap-2 justify-end z-20">
        {{ range . }}
            <span class="bg-primary/10 text-primary text-sm font-semibold px-3 py-1 rounded-full">
            #{{ . }}
            </span>
        {{ end }}
        </div>
    {{ end }}


  <!-- Content -->
  <div class="z-10 flex flex-col h-full justify-between">
    <div>
      <h4 class="text-2xl font-semibold mb-3 text-text-light">{{ .name }}</h4>

      <p class="text-sm mb-4">
        {{ if and .date_start .date_end }}
          {{ .date_start | time.Format "Jan 2, 2006" }} – {{ .date_end | time.Format "Jan 2, 2006" }}
        {{ else if .date_start }}
          {{ .date_start | time.Format "Jan 2, 2006" }}
        {{ else }}
          Date TBA
        {{ end }}
      </p>

      <p class="text-black/90">
        {{ .description | truncate 500 | safeHTML }}
      </p>
    </div>

    <a href="{{ $.Page.RelPermalink }}"
      class="inline-block mt-6 px-6 py-3 bg-primary text-white rounded-lg hover:bg-light transition"
    >
      Voir l'événement →
    </a>
  </div>

</div>
{{ end }}