      {{ with .gallery }}
        {{ $dir := . }}
        <div class="container mx-auto max-w-md p-8">
          <h2 class="text-3xl font-bold mb-6 text-center text-primary">Gallery</h2>
          
          <!-- Centered Gallery -->
          <div class="flex justify-center">
            <div class="gallery grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 justify-items-center">
              {{ $images := readDir (print "static/" $dir) }}
              {{ range $images }}
                {{ if not .IsDir }}
                  <div class="overflow-hidden rounded-xl shadow-lg">
                    <img
                      src="/website-la-norma/{{ $dir }}/{{ .Name }}"
                      alt="{{ .Name }}"
                      class="w-[400px] h-[400px] object-cover cursor-zoom-in transition-transform duration-300 hover:scale-105"
                      onclick="zoomImage(this)"
                    />
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </div>

          <script>
            function zoomImage(img) {
              const newTab = window.open();
              newTab.document.write(`<img src="${img.src}" style="width:100%">`);
            }
          </script>
        </div>
      {{ end }}