{{ with .openstreet_map }}

  {{ if .enable }}
    <div class="flex flex-col h-full">
      <div class="flex-grow">
        <iframe
          class="w-full h-full rounded-xl"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://www.openstreetmap.org/export/embed.html?bbox={{ sub .longitude 0.005 }},{{ sub .latitude 0.003 }},{{ add .longitude 0.005 }},{{ add .latitude 0.003 }}&layer=mapnik&marker={{ .latitude }},{{ .longitude }}">
        </iframe>
      </div>
      <div class="mt-4">
        <a
          class="btn btn-primary"
          href="https://www.openstreetmap.org/?mlat={{ .latitude }}&mlon={{ .longitude }}#map={{.zoom }}/{{ .latitude }}/{{ .longitude }}">
          View Larger Map
        </a>
      </div>
    </div>
  {{ end }}
{{ end }}