{{ define "main" }}
    {{ with .Params.event }}

    <main class="max-w-4xl mx-auto px-4 py-12">
    <article class="bg-white shadow-md rounded-2xl p-8 space-y-6">
        <!-- Event Title -->
        <h1 class="text-4xl font-bold">{{ .name }}</h1>

        <p class="text-sm mb-4 text-primary">
            {{ if and .date_start .date_end }}
            {{ .date_start | time.Format "Jan 2, 2006" }} – {{ .date_end | time.Format "Jan 2, 2006" }}
            {{ else if .date_start }}
            {{ .date_start | time.Format "Jan 2, 2006" }}
            {{ else }}
            Date TBA
            {{ end }}
        </p>

        <!-- Event Description -->
        <div class="text-base text-gray-800 leading-relaxed">
        {{ .description }}
        </div>

        <!-- Event Tags -->
        {{ with .tags }}
        <div class="flex flex-wrap gap-2 mt-4">
        {{ range . }}
            <span class="bg-primary/10 text-primary text-sm font-semibold px-3 py-1 rounded-full">
            #{{ . }}
            </span>
        {{ end }}
        </div>
        {{ end }}
    </article>
    </main>
    {{ end }}
{{ end }}