{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.activity }}
     <section class="relative overflow-hidden pt-14 h-screen flex items-center justify-center">
      
      <!-- Background Video -->
      <video autoplay muted loop playsinline class="absolute top-0 left-0 w-full h-full object-cover z-0">
        <source src= "../../videos/normaloops-bg.mp4"  type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <!-- Optional: Dark overlay -->
      <div class="absolute top-0 left-0 w-full h-full bg-black/50 z-0"></div>

      <div class="container relative z-20">
        <div class="row justify-center">
          <div class="bg-body rounded-4xl mb-8 text-center text-black p-8 max-w-[925px]">
            <h1 class="mb-4 text-h3 lg:text-h1">
              {{ .name | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .description | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn btn-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>

          <div class="container mt-8">
            
            <div class="flex flex-col md:flex-row gap-8 justify-center">
               <!-- Horaire Box -->
                <div class="bg-body p-6 rounded-4xl shadow-4xl basis-[35%] max-w-full">
                <h2 class="text-xl font-semibold mb-4 text-center">Horaire</h2>
                <ul class="list-disc list-inside space-y-2">
                    {{ range .horaire }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                </div>

                <!-- Tarif Box -->
                <div class="bg-body  p-6 rounded-4xl shadow-4xl basis-[35%] max-w-full">
                <h2 class="text-xl font-semibold mb-4 text-center">Tarif</h2>
                <ul class="list-disc list-inside space-y-2">
                    {{ range .tarif }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                </div>
            </div>
        </div>
          
        </div>
      </div>
    </section>
  <!-- /Banner -->

  <!-- Gallery -->
    {{ with .gallery }}
      {{ $dir := . }}
      <div class="container mx-auto max-w-6xl p-8">
        <!-- Gallery Title -->
      <h2 class="text-3xl font-bold mb-6 text-center text-primary">Gallery</h2>
        <div class="gallery grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {{ $images := readDir (print "static/" $dir) }}
        {{ range $images }}
          {{ if not .IsDir }}
            <div class="overflow-hidden rounded-xl shadow-lg">
              <img
                src="/website-la-norma/{{ $dir }}/{{ .Name }}"
                alt="{{ .Name }}"
                class="w-[400px] h-[400px] object-cover cursor-zoom-in transition-transform duration-300 hover:scale-105"
                onclick="zoomImage(this)"
              />
            </div>
          {{ end }}
        {{ end }}
      </div>

      <script>
        function zoomImage(img) {
          const newTab = window.open();
          newTab.document.write(`<img src="${img.src}" style="width:100%">`);
        }
      </script>
    {{ end }}
  {{ end }}
{{ end }}

