{{ define "main" }}
  {{ partial "page-header" .}}  
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class=" mx-auto">
         
          <!-- Contact Form -->
          {{partial "components/contact_form" .}}
          
           <!-- NEW CONTACT INFO BOX BELOW THE FORM -->
          <div class="mt-12 p-6 bg-gray-100 rounded-lg text-center shadow-md">
             <h3 class="text-xxxl font-semibold mb-4">ou</h3>
            <br />
            <h3 class="text-xxxl font-semibold mb-4">Contactez-nous directement :</h3>
            <p class="mb-2">
              <strong>Téléphone :</strong>
              <a class="text-blue-600 ">
                04 79 05 53 07
              </a>
            </p>
            <p>
              <strong>Email :</strong>
              <a href="mailto:contact@confortmedical68.f" class="text-blue-600 hover:underline text-lg">
                contact@confortmedical68.f
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Openstreet_map -->
  {{ partial "components/openstreet_map" .Params }}


{{ end }}
