{{ define "main" }}
  {{ partial "page-header" . }}

  <div class="container mx-auto px-4">

    <h2 class="text-xl font-semibold mb-4 text-center">Description</h2>

    <p class="mb-8 ">
      {{ .Params.description | markdownify }}
    </p>

    <!-- Contact form-->
    {{ partial "components/contact_form" . }}
  </div>

 <!-- Testimony -->
  <section class="py-12 ">
  <div class="container mx-auto px-4">

    {{ $authors := site.GetPage "section" "testimony" }}
    <!-- Centered Container -->
    <div class="flex justify-center">
      <!-- Section Title -->
      <h2 class="text-5xl font-bold mb-8 cursor-pointer text-center text-primary"
          onclick="window.location.href='{{ $authors.Permalink }}'">
        {{ $authors.Title }}
      </h2>
    </div>

  <div class="grid gap-8 justify-items-center"
         style="grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));">
      <!-- Section Cards -->
      {{ range $authors.RegularPages }}
        <div class="w-auto max-w-none">
          {{ partial "components/card/testimony-card" . }}
        </div>
      {{ end }}
    </div>
  </div>
  </section>


{{ end }}